<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Operator Platform</title>
    <link href=" {{url_for('static', filename = 'css/styles.css')}}" rel ='stylesheet'/>

</head>
<body>
    <h1> Start Complex event processing</h1>

    <form action = '/runCEP'>
        <button type = "submit">StartCEP</button>
    </form>

    <form action = '/setup'>
        <input type = "text" name = "trial name" id = "trial name" placeholder="Re-Enter Trial Name"/>
        <button type = "submit">Create new trial </button>
    </form>
    
</body>
</html>